@charset "utf-8";

/* 첫화면 */
.first-view {
  /*height: 100vh;*/ /* viewport height ブラウザの高さに対する割合を指定する単位 브라우저 기준으로 100%의 높이만큼을 띄운다 브라우저에 의존하므로 디스플레이에 따라서 적절하게 계산되서 표시*/
  height: calc(100vh - 110px); /* viewport height에서 상단메뉴 110px을 뺀 높이만큼 */
  background-image: url(../images/index/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* 가로세로 비율을 유지한채로 영역을 완전히 덮는다. */
  display: flex; /* flexbox로... */
  align-items: center;
}

.first-view-text {
  width: 100%;
  max-width: 1200px; /* 해당 div 영역의 최대 사이즈 1200 */
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-bottom: 80px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 10px #4b2c14;
}

.first-view-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  line-height: 72px;

}

.first-view-text p {
  font-size: 18px;
  margin-top: 20px;
}

.lead {
  max-width: 1200px;
  margin: 60px auto;
}

.lead p {
  line-height: 2; /* 행간 */
  text-align: center;
}

.link-button-area {
  text-align: center;
  margin-top: 40px;
}

.link-button {
  background-color: #f4dd64;
  display: inline-block;
  min-width: 180px; /* 최소폭 */
  line-height: 48px;
  border-radius: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* mouse hover */
.link-button:hover {
  background-color: #d8b500;
}

.recommended {
  background-color: #f8f8f8;
  padding-top: 45px;
  padding-bottom: 55px;
}

.recommended h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 類似要素 요소 전후로 텍스트를 넣거나 그림, 박스등을 요소내의 특정위치에 대해 스타일을 지정하는것이 가능
:: (콜론두개)를 이용하여 표기한다.
*/
.recommended h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.item-list {
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: auto;
}

.item-list li {
  flex-shrink: 0; /* 브라우저 너비 안으로 떨어지도록 조정되고 있던 사이즈를 shrink를 0으로 지정하는것으로 원래의 사이즈로 */
  width: 260px;
  margin-left: 75px;
}
/* 상품표시란의 상세스타일 조정 */
.item-list li:first-child {
  margin-left: 0;
}

.item-list dl {
  margin-top: 20px;
}

.item-list dt {
  font-weight: bold;
}

.item-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

.item-list .price {
  font-weight: bold;
  margin-top: 15px;
}

@media (max-width : 800px) {

  .first-view {
    height: calc(100vh - 50px);
    background-image: url(../images/index/bg-main-sp.jpg); /* 모바일버전을 구축할때에는 이미지를 잘라서 사용하는 경우가 많다. */
    align-items: flex-start;
  }

  .first-view-text {
    padding-top: 60px;
    padding-left: 20px;
  }

  .first-view-text h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .first-view-text p {
    font-size: 14px;
    margin-top: 15px;
  }

  .lead {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lead p {
    text-align: left;
  }

  .item-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-list li {
    width: 220px;
    margin-left: 30px;
  }
}